---
import BaseLayout from './BaseLayout.astro';


const { frontmatter } = Astro.props;
--- 
<BaseLayout pageTitle={frontmatter.title}>
  <div class="wrapper">
  <div class="title">
    <h1>{frontmatter.title}</h1>
  </div>
  <div class="tags">
    <p class="tag">Tags: </p>
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
  <div class="description">
    <p>{frontmatter.description}</p>
  </div>
  


  <!-- <p>{frontmatter.pubDate.slice(0,10)}</p>

  <p>Written by: {frontmatter.author}</p> -->

  <!-- <img src={frontmatter.postImage} width="300" alt={frontmatter.image.alt} />  -->



  <div class="main-content">
    <slot />
  </div>
</div>
</BaseLayout>
<style>
            

</style>